<button type="button" (click)="voltar()">
  ← Voltar para Cadastro de Hóspede
</button>

<div class="container">

  <h2>Nova Reserva</h2>

<form [formGroup]="formulario" 
      (ngSubmit)="cadastrar()" 
      class="form-card form-grid">

  <label>Hóspede</label>
  <select formControlName="hospedeId">
    <option value="">Selecione</option>
    <option *ngFor="let h of hospedes" [value]="h.id">
      {{ h.nome }}
    </option>
  </select>

  <label>Data Entrada</label>
  <input type="date" formControlName="dataEntradaPrevista">

  <label>Data Saída</label>
  <input type="date" formControlName="dataSaidaPrevista">
  <label>Usa vaga de estacionamento</label>
  <input type="checkbox" formControlName="usaVaga">

  <div></div>
  <button type="submit">Cadastrar Reserva</button>
</form>

<hr>
<h2>Reservas</h2>

<div class="card" *ngFor="let reserva of reservados">

  <div>
    <strong>{{ reserva.hospede.nome }}</strong><br>
    Entrada: {{ reserva.dataEntradaPrevista | date:'dd/MM/yyyy' }}<br>
    Saída: {{ reserva.dataSaidaPrevista | date:'dd/MM/yyyy' }}<br>
    Status: {{ reserva.status }}
  </div>

  <div>
    <button (click)="irParaCheckin(reserva.id)">
      Fazer Check-in
    </button>
  </div>

</div>


<hr>
<h2>Hospedados</h2>

<div class="card" *ngFor="let reserva of hospedados">

  <div>
    <strong>{{ reserva.hospede.nome }}</strong><br>
    Check-in: {{ reserva.dataCheckin | date:'dd/MM/yyyy HH:mm' }}<br>
    Status: {{ reserva.status }}
  </div>

  <div>
    <button (click)="irParaCheckout(reserva.id)">
      Fazer Checkout
    </button>
  </div>

</div>