.cabecalho {
  width: 100%;
  height: 430px; /* 🔥 controla a altura aqui */
  overflow: hidden;
}

.cabecalho img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 🔥 mantém proporção e corta excesso */
  display: block;
}