<h2>Cadastrar Hóspede</h2>

<form [formGroup]="formulario" (ngSubmit)="cadastrar()">

  <div>
    <label>Nome:</label>
    <input type="text" formControlName="nome">
  </div>

  <div>
    <label>documento:</label>
    <input type="text" formControlName="documento">
  </div>

  <div>
    <label>Telefone:</label>
    <input type="text" formControlName="telefone">
  </div>

  <button type="submit" [disabled]="formulario.invalid">
    Cadastrar
  </button>

</form>

<hr>

<button type="button" (click)="toggleLista()">
  {{ mostrarLista ? 'Ocultar Lista' : 'Mostrar Lista de Hóspedes' }}
</button>

<div *ngIf="mostrarLista">

  <h2>Lista de Hóspedes</h2>

  <ul>
    <li *ngFor="let hospede of hospedes">
      {{ hospede.nome }} - 
      {{ hospede.documento }} - 
      {{ hospede.telefone }} - 
    </li>
  </ul>

</div>

<button routerLink="/reservas">Criar Reserva</button>