<h2>Cadastrar Hóspede</h2>

<form [formGroup]="formulario" (ngSubmit)="cadastrar()">

  <div>
    <label>Nome:</label>
    <input type="text" formControlName="nome">
  </div>

  <div>
    <label>documento:</label>
    <input type="text" formControlName="documento">
  </div>

  <div>
    <label>Telefone:</label>
    <input type="text" formControlName="telefone">
  </div>

  <button type="submit" [disabled]="formulario.invalid">
    Cadastrar
  </button>

</form>

<hr>

<div class="botoes-topo">

  <button type="button" (click)="toggleLista()"> 
    {{ mostrarLista ? 'Ocultar Lista' : 'Mostrar Lista de Hóspedes' }}
  </button>

  <button routerLink="/reservas">
    Criar Reserva e Alterar Status
  </button>

</div>

<div *ngIf="mostrarLista">

  <div class="lista-container"></div>
  <h2>Lista de Hóspedes</h2>

  <div class="hospede-card" *ngFor="let hospede of hospedes">
    <div class="hospede-info">
      <span class="nome">{{ hospede.nome }}</span>
      <span class="detalhe">Documento: {{ hospede.documento }}</span>
      <span class="detalhe">Tel: {{ hospede.telefone }}</span>
    </div>
  </div>

</div>



